### Terraform ###
# Local .terraform directories
**/.terraform/*
# .tfstate files
*.tfstate
*.tfstate.*
*.csv
*.pem
plan
ec2/.terraform.lock.hcl
keyaws
awskey
start-capgemini/keys.txt
start-capgemini/.terraform.lock.hcl
start-capgemini/ec2/.terraform.lock.hcl
start-capgemini/s3/.terraform.lock.hcl
.terraform.lock.hcl
